* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background: url(image/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 section{ 
         position: relative;
    width: 70%;
    height: 82vh;
    margin: auto;
    margin-top: 5%; 
    display: flex;
 }



.contain {
    background-image: url(image/login_iti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
    .dddd {
        margin: auto;
        width: 90%;
        background: rgb(255 255 255/ 85%);
        border: 1px solid #d2d2d2;
        padding: 60px;
    }

        .dddd h2 {
            color: #1965fd;
            font-weight: 500;
            font-size: 50px;
            font-family: 'Dr', sans-serif;
            text-transform: uppercase;
            margin-bottom: 25px;
            display: inline-block;
            letter-spacing: 1px;
        }

        .dddd hr {
            width: 50%;
            float: left;
            height: 6px;
            border-radius: 20px;
            outline: none;
            border: none;
            background: #f9d448;
        }

        .dddd .inputBx {
            margin-bottom: 15px;
        }

            .dddd .inputBx span {
                margin-bottom: 30px;
                display: inline;
                color: #000000;
                font-weight: 300;
                font-size: 18px;
            }

            .dddd .inputBx input {
                width: 100%;
                padding: 10px 0px 10px 15px;
                outline: none;
                border: 1px solid #d2d2d2;
                color: #545454;
                background: rgb(255 255 255 / 50%);
            }

        .dddd .pas {
            margin-bottom: 10px;
        }

        .dddd .rem {
            margin-bottom: 15px;
            color: #7ca655;
            font-weight: 600;
            font-size: 12px;
        }

            .dddd .rem a {
                color: #1965fd;
                text-decoration: none;
                display: flex;
                float: right;
                justify-content: center;
                align-items: center;
            }

        .dddd .inputBx .button {
            background: #7ca655;
            color: #fff;
            outline: none;
            padding: 15px 30px;
            border-radius: 3px;
            border: none;
            width: 100%;
            font-weight: 500;
            cursor: pointer;
        }

            .dddd .inputBx button i {
                margin: 0px 5px;
            }

        .dddd .inputBx p a {
            color: #000;
            text-decoration: none;
            display: flex;
            font-weight: bold;
            justify-content: center;
            align-items: center;
        }

    .imgBx {
        margin: auto;
        width: 85%;
        padding: 20px;
    }

        .imgBx .logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            height: auto;
            margin-bottom: 50px;
        }

            .imgBx .logo h2 {
                width: 100%;
            }

        .imgBx .thumbnil {
            width: 100%;
        }

            .imgBx .thumbnil .circleimg {
                width: 50%;
                float: left;
                text-align: center;
                height: auto;
            }

                .imgBx .thumbnil .circleimg img {
                    border-radius: 50%;
                    width: 65%;
                    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px rgb(255 255 255), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
                }

                .imgBx .thumbnil .circleimg p {
                    text-align: center;
                    color: #068093;
                    font-size: 12px;
                    margin-bottom: 110px;
                }

        .imgBx .pera {
            text-align: center;
            width: 100%;
            font-size: 15px;
            justify-content: center;
            align-items: center;
        }

    .form {
        width: 50%;
        float: left
    }

    .contentlogo {
        width: 50%;
        float: left
    }
@media screen and (max-width:768px) {

    .contain .form {
        width: 100%;
    }
    .contain .contentlogo {
        display: none;
    }
    .dddd {
        margin: auto;
        width: 90%;
        background: rgb(255 255 255/ 85%);
        border: 1px solid #d2d2d2;
        padding: 20px;
    }
    section {
        position: relative;
        width: 95%;
        height: 82vh;
        margin: auto;
        margin-top: 15%;
        display: flex;
    }
}
     
 